:root { 
--blue_gray_100:#d2d2d2; 
--gray_500:#afa8a8; 
--black_900:#000000; 
--gray_500_01:#afa7a7; 
--blue_A700_ea:#0c58ecea; 
--blue_gray_900:#2e2e2e; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
}